body {
  background-color: #000;
  overflow: hidden;
  font-family: monospace;
}

a{
  text-decoration: none;
  color: silver;
}

.heading_container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_heading {
  font-weight: 400;
  color: #fff;
  font-size: 4em
}

.cat_info{
  display: flex;
  color: silver;
}
